<div class="stat">
  <div class="bar bar0">
    <div class="grow"></div>
  </div>
  <div class="bar bar1">
    <div class="grow"></div>
  </div>
  <div class="bar bar2">
    <div class="grow"></div>
  </div>
  <div class="bar bar3">
    <div class="grow"></div>
  </div>
  <div class="bar bar4">
    <div class="grow"></div>
  </div>
  <div class="bar bar5">
    <div class="grow"></div>
  </div>
  <div class="bar bar6">
    <div class="grow"></div>
  </div>
  <div class="bar bar7">
    <div class="grow"></div>
  </div>
  <div class="bar bar8">
    <div class="grow"></div>
  </div>
  <div class="bar bar9">
    <div class="grow"></div>
  </div>
</div>

<div class="container">
  <div class="row center">

    <!-- Home page -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="animated" data-animation="fadeIn" data-animation-delay="500">
                <h1 class="uppercase"><span>We are </span><span class="colorgreen uppercase">{{totalNumber}}</span> <span>greeners</span> </h1>

                <h2><span>still we are using....</span></h2>

                <section id="carousel" data-ride="carousel">
                    <div class="container">
                        <!-- carousel inner -->
                        <div class="carousel-inner">

                            <!-- Stopwatch -->
                            <div class="stopwatch item active">

                                <!-- section watch -->
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <!-- Watch -->
                                        <div id="watch" class="animated" data-animation="fadeIn" data-animation-delay="600">

                                            <!-- Hours -->
                                            <div class="dash hours_dash">
                                                <div class="digit">{{totalElectricity}}</div>
                                                <span class="dash_title">KwH</span>
                                            </div>
                                            <!-- End Hours -->

                                            <!-- Minutes -->
                                            <div class="dash minutes_dash">
                                                <div class="digit">{{totalCO2}}</div>
                                                <span class="dash_title">Kg of CO2 / hour</span>
                                            </div>
                                            <!-- End Minutes -->
                                        </div>
                                        <!-- End Watch -->
                                    </div>
                                </div>
                          </div>
                        </div>

                      </div>

</section>



                    <div {{action 'easterEggs'}}>
                      {{partial 'boy'}}
                      <div class="row colorgreen">
                        <p>Made with love during the <a href="http://hackathon.valtech.fr">#HackValtech</a> in Paris</p>
                      </div>
                    </div>
            </div>
        </div>

    </div>


  </div>
</div>
