<div class="row center">
  {{partial 'menu'}}

  <h1>We are {{totalNumber}} greeners </h1>

  <h2>still we are using....</h2>


  {{totalWater}} - {{totalElectricity}} - {{totalCO2}}

  <h2>Per hour</h2>

  {{partial 'boy'}}
</div>
