<div class="container">
  <div class="row center">

    <!-- Home page -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="animated" data-animation="fadeIn" data-animation-delay="500">
                <h1 class="uppercase">We are {{totalNumber}} greeners </h1>

                <h2>still we are using....</h2>





                    {{totalWater}} - {{totalElectricity}} - {{totalCO2}}

                    <h2>Per hour</h2>

                    {{partial 'boy'}}
            </div>
        </div>
    </div>


  </div>
</div>
{{totalCO2}}

Per hour
