<div class="container">
  <div class="row center">

    <!-- Home page -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="animated" data-animation="fadeIn" data-animation-delay="500">
                <h1 class="uppercase">We are {{totalNumber}} greeners </h1>

                <h2>still we are using....</h2>

                <section id="carousel" data-ride="carousel">
                    <div class="container">
                        <!-- carousel inner -->
                        <div class="carousel-inner">

                            <!-- Stopwatch -->
                            <div class="stopwatch item active">

                                <!-- section watch -->
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <!-- Watch -->
                                        <div id="watch" class="animated" data-animation="fadeIn" data-animation-delay="600">

                                            <!-- Hours -->
                                            <div class="dash hours_dash">
                                                <div class="digit">{{totalElectricity}}</div>
                                                <span class="dash_title">KwH</span>
                                            </div>
                                            <!-- End Hours -->

                                            <!-- Minutes -->
                                            <div class="dash minutes_dash">
                                                <div class="digit">{{totalCO2}}</div>
                                                <span class="dash_title">CO2</span>
                                            </div>
                                            <!-- End Minutes -->
                                        </div>
                                        <!-- End Watch -->
                                    </div>
                                </div>
                          </div>
                        </div>

                      </div>

</section>




                    <h2>Per hour</h2>

                    <div {{action 'easterEggs'}}>
                      {{partial 'boy'}}
                    </div>
            </div>
        </div>
    </div>


  </div>
</div>
