<div class="container">
  <div class="row center">

    <!-- Home page -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="animated" data-animation="fadeIn" data-animation-delay="500">
                <h1 class="uppercase">We are {{totalNumber}} greeners </h1>

                <h2>still we are using....</h2>

                <section id="carousel" data-ride="carousel">
                    <div class="container">
                        <!-- carousel inner -->
                        <div class="carousel-inner">

                            <!-- Stopwatch -->
                            <div class="stopwatch item active">

                                <!-- section watch -->
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <!-- Watch -->
                                        <div id="watch" class="animated" data-animation="fadeIn" data-animation-delay="600">

                                            <!-- Days -->
                                            <div class="dash days_dash">
                                                <div class="digit day_field">0</div>
                                                <div class="digit">0</div>
                                                <div class="digit">6</div>
                                                <span class="dash_title">Days</span>
                                            </div>
                                            <!-- End Days -->

                                            <!-- Hours -->
                                            <div class="dash hours_dash">
                                                <div class="digit">1</div>
                                                <div class="digit">2</div>
                                                <span class="dash_title">Hours</span>
                                            </div>
                                            <!-- End Hours -->

                                            <!-- Minutes -->
                                            <div class="dash minutes_dash">
                                                <div class="digit">0</div>
                                                <div class="digit">5</div>
                                                <span class="dash_title">Minutes</span>
                                            </div>
                                            <!-- End Minutes -->

                                            <!-- Seconds -->
                                            <div class="dash seconds_dash">
                                                <div class="digit">3</div>
                                                <div class="digit">9</div>
                                                <span class="dash_title">Seconds</span>
                                            </div>
                                            <!-- End Seconds -->

                                        </div>
                                        <!-- End Watch -->
                                    </div>
                                </div>
                          </div>
                        </div>

                      </div>

</section>


                    {{totalWater}} - {{totalElectricity}} - {{totalCO2}}

                    <h2>Per hour</h2>

                    {{partial 'boy'}}
            </div>
        </div>
    </div>


  </div>
</div>
{{totalCO2}}

Per hour
